* {
    padding: 0;
    margin: 0;
}

:root {
  /* --variableName: variableValue;   */
--primaryColor: #0039E9;
--textColor: #121314;
--secondaryColor: #FB9B2A;
--fontPrimary: 'Lato', sans-serif;

}

.navigation__list {
display: flex;
align-items: center;
text-decoration: none;
box-sizing: border-box;
background-color: var(--primaryColor);
justify-content: space-between;
padding: 30px 60px;
font-family: var(--fontPrimary);
color: #fff;

}

.logo {
    text-decoration:none;
    color: #FB9B2A;
    font-weight: bold;
    

}

.todo__section-heading {
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 40px;
}

#form, .todo_input {
    margin-top: 20px;
    min-width: 30px;
    height: 40px;
    padding-left: 1px;
}

.form_input {
    background-color: var(--secondaryColor);
    color: #000;
    width: 20rem;
    height: 1.5rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
}

.todo_input {
    margin-left: 10px;
    border: none;
    list-style-type: none;
}

.add_btn {
    background-color: var(--primaryColor);
    width: 4rem;
    height: 1.5rem;
    border: none;
    border-radius: 8px;
    color: #fff;
}

.edit_btn {
    background-color: rgb(0, 128, 0);
    width: 4rem;
    height: 1.5rem;
    border: none;
    border-radius: 8px;
    color: #fff;
}

.delete_btn {
    background-color: rgb(255, 0, 0);
    width: 4rem;
    height: 1.5rem;
    border: none;
    border-radius: 8px;
}