* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    min-height: 100vh;
    background-color: rgb(85, 90, 96);
    color: whitesmoke;
    font-family: 'Lato';
    padding: 1rem;
}

.navigation {
    margin-bottom: 15px;
}

form {
    display: flex;
    gap: 1rem;
}

.form_input {
    background: slategray;
    border-radius: 8px;
    padding: 10px;
    border: none;
    outline: none;
    width: 80%;
    color: white;
}

.form_input::placeholder {
    color: #C8A2C8;
}

.add_btn {
    background: #C8A2C8;
    color: white;
    border: none;
    outline: none;
    width: 80px;
    border-radius: 8px;
}

.task_title {
    margin: 30px 0 20px;
}

#todo__list li {
    background: #C8A2C8;
    margin: 0px 0px 20px;
    list-style: none;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(80% + 80px + 1rem);
}

.delete_btn {
    background: rgb(240, 47, 69);
    padding: 10px;
    border-radius: 8px;
    border: none;
    color: white;
    width: 80px;
}

.edit_btn {
    background: slategray;
    padding: 10px;
    border-radius: 8px;
    border: none;
    color: white;
    width: 80px;
}